body {
    margin: 0;
}

a {
    padding-right: 12px;
}

.header {
    background: #D1F5A6;
    text-align: right;
    line-height: 40px;
}
.icon {
    width: 24px;
    height: 24px;
    opacity: 0.75;
}

#footer {
    background: #f2f2f2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 40px;
}

.top {
    margin-left: 25px;
}

.left {
    margin-left: 25px;
    float: left;
}
.right {
    float: right;
}