body {
    margin: 0;
	font-family: arial, sans-serif;
	color: #5f6368;
	font-size: small;
}

a {
    padding-right: 12px;
	color: #5f6368;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* HEADER SECTION */

#gologo {
    width: 86px;
    height: 28px;
    vertical-align: middle;
}

.logisearch, input[type=text] {
    margin-left: 30px;
}

.header {
	margin-top: 15px;
    margin-right: 10px;
    width: 100%;
    border-bottom: 1px #e4e4e4 solid;
}

input[type=text] {
	width: 522px;
	height: 34px;
	border: 1px #f2f2f2 solid;
    box-shadow: 2px 2px 5px #e0dede;
    padding-left: 15px;
}

input[type=text]:hover {
	box-shadow: 6px 6px 5px #e0dede;
}

.topnav {
    vertical-align: middle;
    text-align: right;
    float: right;
}

.icon {
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

.icon:hover {
	opacity: 1;
}

#photo {
	border-radius: 50%;
}

.toplist ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 120px;
    display: flex;
}

.toplist li {
    display: inline;
    padding: 20px 8px 12px 16px;
    text-align: right;
}

.toplist li a:hover {
    color: #303030;
}

/* MAIN SECTION */

.main {
    margin-left: 150px;
    width: 800px;
}

.main ul {
    list-style-type: none;
    padding-left: 3px;;
}

.main a, span {
    color:#006621;
    font-size: medium;
}

.main li {
    margin-bottom: 30px;
}

.main li p{
    margin-top: 5px;
}
.mainlink a{
    color: #1a39c5;
    font-size: large;
}

.mainlink {
    margin-bottom: 5px;
}

#mainbot h3{
    font-weight: normal;
    font-size: large;
    color: #222222;
}

#mainbot a{
    color: #1a0dab;
    font-weight: bold;
}
#mainbot li {
    margin-bottom: 10px;
}

/* FOOTER SECTION */

.footer {
    background-color: #f2f2f2;
    border-top: 1px #e4e4e4 solid;
    line-height: 40px;
	position: relative;
	width: 100%;
	bottom: 0;
}

.top {
	border-bottom: 1px #e4e4e4 solid;
	padding-left: 25px;
	font-size: medium;
}

.left {
	padding-left: 25px;
}

#resultbot {
    border-collapse: collapse;
}

#resultbot span {
    display: block;
}
.logog {
    background-image: url("images/nav_logo242.png");
    background-position: -24px 0;
    height: 40px;
    width: 28px;
    margin-bottom: 15px;
}

.logor {
    background-image: url("images/nav_logo242.png");
    background-position: -53px 0;
    height: 40px;
    width: 20px;
    margin-bottom: 15px;
}

.logoo {
    background-image: url("images/nav_logo242.png");
    background-position: -74px 0;
    height: 40px;
    width: 20px;
    margin-bottom: 15px;
}